* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-image: url('https://raw.githubusercontent.com/mengnankkkk/img/main/202407031146845.png');
    background-size: cover; /* 使背景图片覆盖整个视口 */
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 使背景图片固定 */
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-image 0.5s;
}

header {
    background-color: 
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 50px;
}

header h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.5em;
}

header button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

header button:hover {
    background-color: #3e8e41;
}

nav {
    background-color: rgba(51, 51, 51, 0.8); /* 透明背景颜色 */
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    display: block;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: rgba(17, 17, 17, 0.8); /* 透明背景颜色 */
    transform: scale(1.1);
}

nav ul li a i {
    margin-right: 8px;
}

main {
    max-width: 1200px;
    width: 100%;
    padding: 20px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 100%;
}

.game-cover {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    cursor: pointer;
}

.game-cover:hover {
    transform: scale(1.05);
}

footer {
    background-color: rgba(51, 51, 51, 0.8); /* 透明背景颜色 */
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
